body,html{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:'Courier New', Courier, monospace;
    height:100vh;
    background:linear-gradient(to bottom,cornflowerblue,pink,white);
}
#maincontainer{
    position:fixed;
    top:0;
    left:0;
    z-index:0;
}
.grid{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:calc(100vh - 200px);
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    border:0px dashed white;
    z-index:1;
}
.grid-item{
    border:1px dashed white;
    position:relative;
    overflow:hidden;
}
.grid-item img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.grid-item.hover-text{
    display:none;
    position:absolute;
    bottom:10px;
    left:10px;
    background-color: antiquewhite 0,5;
    padding:10px;
    border-radius:5px;
}
.grid-item:hover.hover-text{
    display:block;
}
.bottom-bar{
    position:absolute;
    bottom:0;
    width:100%;
    height:200px;
    background-color:cornflowerblue;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    z-index:2;
    box-sizing:border-box;
}
.left,.right{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
button{
    background-color:rgba(255,255,255,1);
    border:0dvh;
    padding:10px 20px;
    cursor:pointer;
    font-size:16px;
    border-radius:5px;
    font-family: 'Courier New', Courier, monospace;
}
button:hover{
    background-color:#f0f0f0 ;
}
textarea{
    width:800px;
    height: 100px;
    margin-bottom:10px;
    background-color: rgba(255,255,255,1);
    border:none;
    padding: 10px;
    border-radius:5px;
    font-size:14px;
    resize:none;
}