p{
    color: blueviolet;
    font-size: 20px;
    line-height: 26px;
    margin-block-start: 0em;
    width:500px;
    border:1px solid red;
    
}
a{
    font-size: 20px;
    color:aquamarine;
}
strong{
    font-size: 25px;
    color:black
}
a:hover{
    color: bisque;
}