.container{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    height: 300px;
    margin-top: 300px;
}
.rectangle{
    animation-name: colors;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-play-state: running;
    animation-fill-mode: none;
    width:100px;
    height:100px;
    background-color: aqua;
}
.rectangle2{
    width:100px;
    height:100px;
    background-color: aqua;
    animation:bounce ease-in-out 3s infinite ;

}
.rectangleright{
    animation-name: colors2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-play-state: running;
    animation-fill-mode: none;
    width:100px;
    height:100px;
    background-color: aqua;

}
.wind{
    width:10px;
    height:80px;
    background-color: gray;
    transform:translateY(-280px);
}
.wind2{
    width:10px;
    height:140px;
    background-color:gainsboro;
    transform: translateY(-240px);
}
.rectangle3{
    width:80px;
    height: 300px;
    background-color: blueviolet;
    transform:translateY(5px);
}
.face{
    position:relative;
    width:500px;
    height: 500px;
    background-color: burlywood;
    border-radius: 50%;
    border:2px solid blue;
}
.eye1{
    position: absolute;
    top: 380px;
    width:70px;
    height:70px;
    background-color: black;
    border-radius: 50%;
    left: 540px;
}
.eye2{
    position: absolute;
    top: 380px;
    width:70px;
    height:70px;
    background-color: black;
    border-radius: 50%;
    right: 540px;
}
.mouth{
    position:absolute;
    bottom: 200px;
    left: 640px;
    width:100px;
    height:50px;
    border-bottom: 15px solid black;
    border-radius: 200px 200px;
}
.topm1{
    position:absolute;
    top: 0px;
    left: 640px;
    width:80px;
    height:220px;
    background-color: blueviolet;
    animation:down ease-in-out 3s infinite;
}
.topm2{
    position:absolute;
    top: 220px;
    left: 525px;
    width:300px;
    height:40px;
    background-color: blue;
    border:1px solid aquamarine;
    animation:down ease-in-out 3s infinite;
}
.rectangles{
    position:absolute;
    top: 260px;
    left: 270px;
    width:800px;
    height:220px;
    background-color:blanchedalmond;
    animation:resize ease-in-out 3s infinite;
}
.bottom1{
    position:absolute;
    top: 480px;
    left: 525px;
    width:300px;
    height:40px;
    background-color: blue;
    border:1px solid aquamarine;
    animation:up ease-in-out 3s infinite;
}
.bottom2{
    position:absolute;
    top: 510px;
    left: 640px;
    width:80px;
    height:300px;
    background-color: blueviolet;
    animation:up ease-in-out 3s infinite;
}
@-webkit-keyframes colors{
    0%{
        background-color: antiquewhite;
        transform:translateX(80px);
    }
    30%{
        background-color: pink;
    }
    60%{
        background-color: aqua;
        transform: translateX(0px);
    }
    100%{
        background-color: yellowgreen;
        transform: translateX(80px);
    }

}
@-webkit-keyframes colors2{
    0%{
        background-color: antiquewhite;
        transform:translateX(-80px);
    }
    30%{
        background-color: pink;
    }
    60%{
        background-color: aqua;
        transform: translateX(0px);
    }
    100%{
        background-color: yellowgreen;
        transform: translateX(-80px);
    }

}
@-webkit-keyframes bounce{
    0%{
        transform: translateY(-200px);
        background-color: antiquewhite;
    }
    30%{
        background-color: pink;
    }
    60%{
        transform:translateY(0px);
        background-color: aqua;
    }
    100%{
        transform: translateY(-200px);
         background-color: yellowgreen;
    }
}
@-webkit-keyframes down{
    0%{
        transform:translateY(-100px);
        background-color:beige;
    }
    50%{
        transform:translateY(0px);
        background-color:pink;
    }
    100%{
        transform:translateY(-100px);
        background-color:gray;
    }
}
@-webkit-keyframes up{
    0%{
        transform:translateY(100px);
        background-color:aqua;
    }
    50%{
        transform:translateY(0px);
        background-color:bisque;
    }
    100%{
        transform:translateY(100px);
        background-color:aquamarine;
    }
}
@-webkit-keyframes resize{
    0%{
        transform:scaleY(190%);
    }
    50%{
        transform:scaleY(100%);
    }
    100%{
        transform:scaleY(190%);
    }
}