body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: aliceblue;
}
#container{
    position: relative;
    width:500px;
    height:500px;
}
.dot{
    position:absolute;
    width:40px;
    height:40px;
    background: black;
    border-radius: 50%;
}