body{
    margin:30px;
    font-family: 'Courier New', Courier, monospace;
    --text-color:#222;
    --background-color:#fff;
}
body.dark-theme{
    --text-color:#eee;
    --background-color:#121212;
}
@media(prefers-color-scheme: dark){
    body{
        --text-color:#eee;
        --background-color:#121212;
    }
    body.light-theme{
        --text-color:#121212;
        --background-color:#fff;
    }
}
body{
    background:var(--background-color);
}
p{
    color:var(--text-color);
}
.switch{
    position: fixed;
    background:whitesmoke;
    color:black;
    top:30px;
    right:30px;
    padding:20px 40px;
    border:none;
    cursor:pointer;
    border-radius:10px;
}
.shapes{
    display:relative;
    gap: 15px;
    height: 500px;
    margin-top: 0px;
}
.shape{
    width:100px;
    height:400px;
    cursor:grab;
    position:relative;
}
.rectangle{
    background-color: aqua;
    width: 300px;
    height:400px;
    top:0px;
    cursor:grab;
   
}
.square{
    background-color: chartreuse;
    width:100px;
    height:400px;
    top:10px;
    cursor:grab;
 
}
.circle{
    background-color: chocolate;
    width: 100px;
    height:100px;
    border-radius: 100%;
    cursor:grab;
    top:20px;
  
}
.blur{
    position: fixed;
    background:pink;
    color:#fff;
    top:100px;
    right:30px;
    padding:30px 100px;
    border:none;
    cursor:pointer;
    border-radius:10px;
}
.blur:hover{
    background: aquamarine;
    color:#222;
}
.blurred{
    filter:blur(10px);
}